body{
    background-color: #ffffff;
}
main {
    text-align: center;
    background: #ffffff;
}
#slogan{
    font-size: 50px5;
}

.capa{
    width: 40%;
height: 100%;
}
.beneficios{
    background-color: #ffffff;
}
.foto-beneficios{
    width: 40%;
}