body{
    background-color: #ffffff;
}
main {
    text-align: center;
    background: #ffffff;
}
#slogan{
    font-size: 50px5;
}

.capa{
    width: 40%;
height: 100%;
}
.beneficios{
    background-color: #ffffff;
    display: inline-block
}
ul{
    display: inline-block;
    vertical-align: top;

}
li{
    padding: 10px;
    margin: 10px;
}
.foto-beneficios{
    width: 30%;
    text-align:right;
    padding: 10px;
}